$color-bg                : #F4F5F6;
$color-primary           : #4A90E2;
$color-black             : #2D2D2C;
$color-text-black        : #50514F;
$color-text-grey         : #9B9B9B;
$color-text-grey-lite    : #C4C4C4;