.login {
}
.login-fade-in {
  opacity             : 1;
}

.login-button-area {
  display             : flex;
  flex-direction      : column;
  position            : absolute;
  top                 : 50%;
  left                : 50%;
  transform           : translate(-50%, -50%);
  animation           : fadein 1s;
}
@keyframes fadein {
  from { opacity      : 0; }
  to   { opacity      : 1; }
}
@keyframes pulse {
  0%   {background-color: #57A87F;}
  50%  {background: #507E67;}
  100% {background: #57A87F;}

  /*0% {*/
    /*background-color: #57A87F;*/
  /*}*/
  /*100% {*/
    /*background-color: #507E67;*/
  /*}*/
}

.login-button {
  color               : whitesmoke;
  background-color    : #57A87F;
  padding             : 0.5rem 2rem;
  cursor              : pointer;
  border-radius       : 0.25rem;
  transition: background-color 500ms;
  text-align: center;
}
.login-button:hover {
  background-color: #87D3AD;
}

.login-button-subtitle {

}
.login-pulse {
  animation: pulse 1s infinite ease-out;
}

.login-input {
  margin-bottom    : 1rem;
  padding          : 0.5rem;
  font-size        : 1rem;
  border-radius    : 0.25rem;
  border-style     : none;
}
.login-input-bad {
  border: solid 0.2rem #882347;
}
.login-bad-username-text {
  color: #882347;
  margin-bottom    : 1rem;
}