{{audio-player apStateItemUpdated="apStateItemUpdated"}}

<table class="dev-ap-table">
  {{#each displayable.properties as |item|}}
    <tr>
      <td>{{item.key}}</td>
      <td>{{item.value}}</td>
    </tr>
  {{/each}}
</table>


<style>
  .dev-ap-table {
    border-collapse: separate;
    border-spacing: 0.5rem 0.5rem;
  }
  .dev-audio-player-title {
    /*background-color    : #57A87F;*/
    background-color    : #222;
    width               : 100%;
    padding             : 1rem;
    font-size           : 2rem;
  }
</style>