{{mdl-button icon='play_arrow' class='si--icon-play' on-click='playClicked'}}




<div class="si--title-area">
  <div>
    {{item.title}}
  </div>
  <div class="si--time">
    {{displayableTime}}
  </div>
</div>


{{mdl-button icon='add' on-click='addClicked'}}
