

<div class="lp--button-area">
  {{#if isUsernameEnabled}}
    {{input type="text" value=username placeholder="Choose a username" class=(if isBadUsername 'login-input login-input-bad' 'login-input')}}

    {{#if isBadUsername}}
      <div class="login-bad-username-text">Please enter a username.</div>
    {{/if}}
  {{/if}}


  {{#mdl-button isRaised=true on-click='login'}}
    {{displayableLoginStatus}}
  {{/mdl-button}}

</div>
