<div class="hp--nav-bar">
  {{!-- LOGO --}}
  <div class="hp--logo">
    <div>e</div>
  </div>

  {{!-- PLAYER CONTROLS --}}
  <div class="hp--player-controls">
    {{mdl-icon icon='ic_fast_rewind' class="hp--player-button"}}
    {{mdl-icon icon='ic_play_arrow' class="hp--player-button"}}
    {{mdl-icon icon='ic_fast_forward' class="hp--player-button"}}
  </div>


</div>


