<div class="hp--nav-bar">
  {{!-- LOGO --}}
  <div class="hp--logo">
    <div>e</div>
  </div>

  {{!-- PLAYER CONTROLS --}}
  <div class="hp--player-controls">
    {{mdl-icon icon='fast_rewind' class="hp--player-button"}}
    {{mdl-icon icon='play_arrow' class="hp--player-button"}}
    {{mdl-icon icon='fast_forward' class="hp--player-button"}}
  </div>

  {{!-- PLAYER BAR --}}
  {{components/audio-player}}


</div>