{{#mdl-card title='Create a room'}}
  <div class="cr-modal__supporting-text mdl-card__supporting-text">
    Create a room and invite other to join. Listen to music and take turns playing songs.
   </div>

  {{mdl-textfield
    class='cr-modal__input'
    label='Room name'
    value=_roomName
    pattern=_roomNameRegex
    disabled=_isInputDisabled
    autofocus=true
    errorMessage="Please only use letters, numbers, '-' and '_'"
    isLabelFloating=false}}


  {{#if _isCreatingRoom}}
    <div class="mdl-card__supporting-text">Creating room...</div>
  {{else if _isCreatingRoomError}}
    <div class="mdl-card__supporting-text">Error Creating room. Try Again</div>
  {{else if _isCreatingRoomSuccess}}
    <div class="mdl-card__supporting-text">Room created!</div>
  {{/if}}


  {{mdl-button
    class='cr-modal__create-button'
    isRaised=true
    text='CREATE ROOM'
    isAccent=false
    disabled=_isButtonDisabled
    action='createRoomPressed'}}
{{/mdl-card}}