.create-room-modal {

  .cr-modal__supporting-text {
    padding-bottom       : 0;
    padding-top          : 0;
  }
  .cr-modal__input {
    color: #000;
    margin-left          : 16px;
    margin-right         : 16px;
  }

  .cr-modal__create-button {
    margin: 16px;
  }

}