<div class="login__card">

  <div class="login__logo-section">
    <div class="login__logo-section-overlay"></div>
    <div class="login__logo">earworm</div>
  </div>


  <div class="fb-button mdl-button--raised">
    <div class="fb-button-logo"></div>
    <div class="fb-button-text">Login with facebook</div>
  </div>

  <div class="login__seperator">
    <div class="login__seperator-line"></div>
    <div class="login__seperator-text">or</div>
    <div class="login__seperator-line"></div>
  </div>


  {{mdl-button
  class='login__email-button'
  isRaised=true
  text='Login with email'
  isAccent=true
  disabled=_isButtonDisabled
  action='createRoomPressed'}}

</div>

