.create-room{
  position             : relative;

  .create-room-text-area {
    display            : flex;
    justify-content    : center;
    align-items        : center;
    position           : absolute;
    background         : white;
    left               : -336px;
    margin-top         : 40px;
    padding            : 20px;
    padding-top        : 30px;
    box-shadow         : rgba(0,0,0,0.15) 2px 2px 4px;
  }


  .create-room-input-text {
    margin-right: 16px;

  }
}